In [2]:
# Importacion de librerias

import pandas as pd

In [3]:
# Posicionarse en un ruta donde sea se pueda leer el fichero comodamente

%cd C:\Users\Usuario\Desktop\Kaggle\Data\dataFramesParsed\Public_LeaderBoard
    
# Lectura del fichero CompetitionsParsed

df_LeaderBoardPublic = pd.read_csv("Dt_TeamsPublic_Info_Raw.csv", index_col=0)
df_LeaderBoardPublic.head()

C:\Users\Usuario\Desktop\Kaggle\Data\dataFramesParsed\Public_LeaderBoard

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,TeamId,TeamName,SubmissionDate,Score,title
0,166877,Jim932,2015-04-14 00:13:20,0.69607,15-071x-the-analytics-edge-competition-spring-...
1,166882,Mathn,2015-04-14 00:16:43,0.69607,15-071x-the-analytics-edge-competition-spring-...
2,166882,Mathn,2015-04-14 00:20:20,0.74705,15-071x-the-analytics-edge-competition-spring-...
3,166884,NxGTR,2015-04-14 00:29:02,0.49468,15-071x-the-analytics-edge-competition-spring-...
4,166885,oconnoda,2015-04-14 00:30:32,0.59338,15-071x-the-analytics-edge-competition-spring-...

### Analisis Exploratorio del DataFrame

In [4]:
df_LeaderBoardPublic.shape

(1342951, 5)

In [5]:
df_LeaderBoardPublic.dtypes

TeamId             int64
TeamName          object
SubmissionDate    object
Score             object
title             object
dtype: object

In [6]:
print("Are There Missing Data? :",df_LeaderBoardPublic.isnull().any().any())     
print(df_LeaderBoardPublic.isnull().sum())

Are There Missing Data? : True
TeamId              0
TeamName          169
SubmissionDate      0
Score               0
title               0
dtype: int64

Con el tamaño que tiene el dataFrame se puede permitir eliminar estos valores nulos. Evitando que tengamos algún tipo de error al hacer joins.

In [7]:
df_LeaderBoardPublic = df_LeaderBoardPublic[df_LeaderBoardPublic["TeamName"].notnull()]

In [8]:
print("Are There Missing Data? :",df_LeaderBoardPublic.isnull().any().any())     
print(df_LeaderBoardPublic.isnull().sum())

Are There Missing Data? : False
TeamId            0
TeamName          0
SubmissionDate    0
Score             0
title             0
dtype: int64

Los principales cambios que se realizarán en este dataFrame son:
    - Renombrar las columnas con los nombres normalizados
    - Convertir la columna "score" a Float
    - Añadir una columna con competitionsTitle

#### Renombrar las columnas con los nombres normalizados

In [9]:
df_LeaderBoardPublic = df_LeaderBoardPublic.rename(columns={'SubmissionDate':'date',
                          'Score':'publicScore', "TeamName":"teamName"                         
                                 })

#### Convertir la columna "score" a Float

In [10]:
df_LeaderBoardPublic['publicScore'] = df_LeaderBoardPublic['publicScore'] .astype(float)

In [11]:
df_LeaderBoardPublic.publicScore.dtypes

dtype('float64')

#### Añadir una columna Id_competitions

In [12]:
%cd C:\Users\Usuario\Desktop\Kaggle\Data\dataFramesApoyo

idCompetitions = pd.read_excel('id_competiciones_integrado.xlsx', index_col=0)

idCompetitions.head()

C:\Users\Usuario\Desktop\Kaggle\Data\dataFramesApoyo

,id_competitions,competitionTitle,title_public,title
336,4347,15.071x - The Analytics Edge (Spring 2015),15 071x the analytics edge competition spring ...,15-071x-the-analytics-edge-competition-spring-...
306,1213,20 Newsgroups Ciphertext Challenge,20 newsgroups ciphertext challenge,20-newsgroups-ciphertext-challenge-publicleade...
178,3524,Accelerometer Biometric Competition,accelerometer biometric competition,accelerometer-biometric-competition-publiclead...
85,3064,Data Mining Hackathon on BIG DATA (7GB) Best B...,acm sf chapter hackathon big,acm-sf-chapter-hackathon-big-publicleaderboard...
268,3080,Data Mining Hackathon on (20 mb) Best Buy mobi...,acm sf chapter hackathon small,acm-sf-chapter-hackathon-small-publicleaderboa...

In [13]:
idCompetitions = idCompetitions[["competitionTitle","id_competitions"]]

In [14]:
LeaderBoardPublic = pd.merge(idCompetitions, df_LeaderBoardPublic, how = "inner", on = "title")

In [15]:
LeaderBoardPublic.head()

,competitionTitle,title,id_competitions,TeamId,teamName,date,publicScore
0,15.071x - The Analytics Edge (Spring 2015),15-071x-the-analytics-edge-competition-spring-...,4347,166877,Jim932,2015-04-14 00:13:20,0.69607
1,15.071x - The Analytics Edge (Spring 2015),15-071x-the-analytics-edge-competition-spring-...,4347,166882,Mathn,2015-04-14 00:16:43,0.69607
2,15.071x - The Analytics Edge (Spring 2015),15-071x-the-analytics-edge-competition-spring-...,4347,166882,Mathn,2015-04-14 00:20:20,0.74705
3,15.071x - The Analytics Edge (Spring 2015),15-071x-the-analytics-edge-competition-spring-...,4347,166884,NxGTR,2015-04-14 00:29:02,0.49468
4,15.071x - The Analytics Edge (Spring 2015),15-071x-the-analytics-edge-competition-spring-...,4347,166885,oconnoda,2015-04-14 00:30:32,0.59338

In [16]:
print(df_LeaderBoardPublic.shape)
print(LeaderBoardPublic.shape)

(1342782, 5)
(1342782, 7)

Se comprueba que no se ha pedido información en el merge y que contamos con una nueva columna "competitionsTitle". Se utilizará para realizar joins con otro dataframes.

#### Exportacion del dataFrame

In [17]:
LeaderBoardPublic = LeaderBoardPublic[["teamName",
                                      "publicScore",
                                      "id_competitions"]]

LeaderBoardPublic = LeaderBoardPublic.rename(columns={'id_competitions':'competitionId'})

In [18]:
%cd C:\Users\Usuario\Desktop\Kaggle\Data\dataFramesReady\publicReady

LeaderBoardPublic.to_csv("leaderboardPublicReady.csv")

C:\Users\Usuario\Desktop\Kaggle\Data\dataFramesReady\publicReady

In [19]:
LeaderBoardPublic.head()

   teamName  publicScore competitionId
0    Jim932      0.69607          4347
1     Mathn      0.69607          4347
2     Mathn      0.74705          4347
3     NxGTR      0.49468          4347
4  oconnoda      0.59338          4347